html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.errormsg {
  color: red;
  font-size: 0.7rem;
  text-align: right;
  margin-top: 0.4em;
  display: inline;
  visibility: hidden;
}

.showerror {
  /*display: inline;*/
  visibility: visible;
}